# fprime items
logs/
cmake-build-*
build-artifacts/
build-fprime-*
yamcs-data/
*-template
*.template.cpp
*.template.hpp

# Misc
/venv/
/fprime-venv/
/.idea/
/.vscode/
.DS_Store
*.gcov
__pycache__/
*.pyc
